.mealCard {
  margin: 1em 1em 0;
}

.mealCard:first-child {
  padding-top: 2.5em;
}

.cardHeader {
  font-size: 1.25em;
}

.cardActions {
  padding:.25em;
}

.innerCard {
  min-height: 100%;
}